<html lang="en">
<head>
    <title>Health hub</title>
    <link href="~/Content/CSS/LoginCSS.css" rel="stylesheet" />
    <link href="~/Content/CSS/Home2.css" rel="stylesheet" />

</head>
<body>
    <div class="container1">
        <nav>
            <div class="nav__logo">
                <img src="~/Content/Image/logo-removebg-preview.png" width="70px" height="70px" />HEALTH Hub
            </div>
            <ul class="nav__links">
                <li class="link">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { })</li>
                <li class="link">@Html.ActionLink("About us", "About", "Home", new { area = "" }, new { })</li>
                <li class="link">@Html.ActionLink("Contact us", "Contact", "Contact", new { area = "" }, new { })</li>
                <li class="link">@Html.ActionLink("Register", "UserRegister", "Registration_", new { area = "" }, new { })</li>
            </ul>
            @*<small> @ViewBag.Message</small>*@
            <a href="@Url.Action("Login", "Login")" class="btn"> Login </a>
        </nav>
        <header class="header">
            <div class="content">
                <h1><span>Get Quick</span><br />Medical Services</h1>
                <p>
                    In today's fast-paced world, access to prompt and efficient medical
                    services is of paramount importance. When faced with a medical
                    emergency or seeking immediate medical attention, the ability to
                    receive quick medical services can significantly impact the outcome
                    of a situation.
                </p>
                @Html.ActionLink("Get Appointment Now", "Login", "Login", null, new { @class = "btn1" })

            </div>
            <div class="image">

                <img src="~/Content/Image/header-bg.png" alt="header image" />
            </div>
        </header>

    </div>
    @*<div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="~/Content/Image/10.jpg" style="width:100%"/>
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="~/Content/Image/11.jpg" style="width:100%" />
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="~/Content/Image/12.jpg" style="width:100%"/>
                <div class="text">Caption Three</div>
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>*@
</body>
</html>
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>

<BODY onload="noBack();"
      onpageshow="if (event.persisted) noBack();" onunload="">
</BODY>